#############################
### planet configuration ###
#############################

[dbconfig]
## specify the database credentials here
postgresql_user     = secure_planet
postgresql_password = secure_planet
postgresql_db       = secure_planet
postgresql_port     = 5432
postgresql_host     = 172.173.0.1
